In [17]:
# Connect
import sqlite3
DRIFT_DB_PATH = "..\\data\\driftDb.db"

con = sqlite3.connect(DRIFT_DB_PATH)
cursor = con.cursor()

In [18]:
# list all tables
def list_all_tables():
    sql_query = "SELECT name FROM sqlite_master WHERE type='table';"
    cursor.execute(sql_query)
    print("Tables: \n".format(cursor.fetchall()))
    
list_all_tables()

Tables:

### drop all tables
See dev_nb\sqlite_db_dev.ipynb

In [19]:
cursor.execute("CREATE TABLE movie(title, year, score)")
res = cursor.execute("SELECT name FROM sqlite_master")
res.fetchone()

('movie',)

In [ ]:
cursor.execute("""
    INSERT INTO movie VALUES
        ('Monty Python and the Holy Grail', 1975, 8.2),
        ('And Now for Something Completely Different', 1971, 7.5)
""")

In [20]:
con.commit()

In [21]:

def insert_sample(chat_id, sample_dt, cos_sim, completion):
    sql = "INSERT INTO tSample (chat_id, sample_dt, cos_sim, completion ) VALUES ('{}', '{}', '{}', '{}');".format(chat_id, sample_dt, cos_sim, completion)
    print(sql)
    
insert_sample("chat_id", "sample_dt", "cos_sim", "completion")

INSERT INTO tSample (chat_id, sample_dt, cos_sim, completion ) VALUES ('chat_id', 'sample_dt', 'cos_sim', 'completion');

In [22]:
res = cursor.execute("SELECT score FROM movie")
res.fetchall()

[]

In [23]:
data = [
    ("Monty Python Live at the Hollywood Bowl", 1982, 7.9),
    ("Monty Python's The Meaning of Life", 1983, 7.5),
    ("Monty Python's Life of Brian", 1979, 8.0),
]
cursor.executemany("INSERT INTO movie VALUES(?, ?, ?)", data)
con.commit()  # Remember to commit the transaction after executing INSERT.

In [24]:
for row in cursor.execute("SELECT year, title FROM movie ORDER BY year"):
    print(row)

(1979, "Monty Python's Life of Brian")
(1982, 'Monty Python Live at the Hollywood Bowl')
(1983, "Monty Python's The Meaning of Life")

In [26]:
import sqlite3
conxn = sqlite3.connect(DRIFT_DB_PATH)
cursor = conxn.cursor()
cursor.execute("PRAGMA database_list")
rows = cursor.fetchall()

for row in rows:
    print(row[0], row[1], row[2])

conxn.close()

0 main c:\Users\kevin\Documents\GitHub\zaidanseiko\DriftPy\data\driftDb.db

In [ ]:
new_con = sqlite3.connect(DRIFT_DB_PATH)
new_cursor = new_con.cursor()
res = new_cursor.execute("DROP TABLE IF EXISTS movie")
res.fetchall()
res = new_cursor.execute("SELECT name FROM sqlite_master")
res.fetchone()
new_con.close()

In [ ]:
import sqlite3
import datetime

con = sqlite3.connect(DRIFT_DB_PATH)
cursor = con.cursor()
cursor.execute(""" PRAGMA foreign_keys = 0;""")
cursor.execute(""" DELETE FROM tSample;""")
cursor.execute(""" DROP TABLE tSample;""")
cursor.execute(""" CREATE TABLE tSample (
    chat_id              NOT NULL,
    run_time     TEXT    NOT NULL,
    cos_sim    NUMERIC   NOT NULL,
    completion TEXT      NOT NULL
);""")

cursor.execute(""" PRAGMA foreign_keys = 1; """)
res = cursor.execute("SELECT name FROM sqlite_master")
res.fetchone()

run_time = ct = datetime.datetime.now().replace(second=0, microsecond=0)
def insert_sample(chat_id, cos_sim, completion):
    sql = "INSERT INTO tSample (chat_id, run_time, cos_sim, completion ) VALUES ('{}', '{}', '{}', '{}');".format(chat_id, run_time, cos_sim, completion)
    print(sql)
    cursor.execute(sql)
    con.commit()
    

def insert_sample_default(chat_id, cos_sim, completion):
    sql = "INSERT INTO tSample (chat_id, run_time, cos_sim, completion ) VALUES ('{}', '{}', '{}', '{}');".format(chat_id, run_time, cos_sim, completion)
    print(sql)
    cursor.execute(sql)
    con.commit()    

insert_sample_default("chat_id00000000", 1.0, "completion")

In [ ]:
import sqlite3
con = sqlite3.connect(DRIFT_DB_PATH)
cursor = con.cursor()

cursor.execute(""" PRAGMA foreign_keys = 1; """)
res = cursor.execute("SELECT name FROM sqlite_master")
res.fetchone()

run_time = ct = datetime.datetime.now().replace(second=0, microsecond=0)
def insert_sample(chat_id, cos_sim, completion):
    sql = "INSERT INTO tSample (chat_id, run_time, cos_sim, completion ) VALUES ('{}', '{}', '{}', '{}');".format(chat_id, run_time, cos_sim, completion)
    print(sql)
    cursor.execute(sql)
    con.commit()
    

def insert_sample_default(chat_id, cos_sim, completion):
    sql = "INSERT INTO tSample (chat_id, run_time, cos_sim, completion ) VALUES ('{}', '{}', '{}', '{}');".format(chat_id, run_time, cos_sim, completion)
    print(sql)
    cursor.execute(sql)
    con.commit()     

insert_sample_default("chat_id", "cos_sim", "completion")

In [ ]:
import sqlite3
con = sqlite3.connect(DRIFT_DB_PATH)
cursor = con.cursor()
for row in cursor.execute("SELECT chat_id, run_time, cos_sim, completion FROM tSample;"):
    print(row)

con.close()

In [ ]:
import sqlite3
con = sqlite3.connect(DRIFT_DB_PATH)
cursor = con.cursor()
cursor.execute("DELETE FROM tSample;")
con.close()